@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@200;300&family=Ysabeau+Infant:wght@200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navlist{
  @apply uppercase cursor-pointer tracking-wide px-2  bg-ebony-50 rounded-full hover:bg-orange-500 hover:text-white transition duration-500 delay-75
}
.navlistMob{
  @apply border w-full flex flex-row-reverse gap-1 py-1 items-center justify-center h-12 text-lg text-ebony-950 shadow-md hover:bg-ebony-100 hover:duration-300 hover:delay-150 
}
.MuiSvgIcon-root{
  @apply hover:cursor-pointer
}
.categories::-webkit-scrollbar{
  display: none;
}
body::-webkit-scrollbar{
  display: none;
}
.cart::-webkit-scrollbar{
  display: none;
}